.App {
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  min-height: 8vh;
  background: rgb(13, 118, 136);
  padding-top: 10px
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  height: 40px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 0px 50px;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: white;
}

.nav-links a:hover {
  color: rgb(193, 244, 253);
}

.btn-style {
  background-color: rgb(13, 118, 136);
  border-radius: 5px;
  border: none;
  color:white;
  text-decoration: none;
  padding: 8px 18px;
  display: inline-block;
}

.font-color {
  color: rgb(8, 44, 51) !important;
}

.table-wrapper {
  min-height: 30px;
}